### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IntelliJ IDEA
.idea/

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip

# Log files
*.log

# Package files
target/

# Operating System Files
.DS_Store
Thumbs.db

# Eclipse
.settings/
.classpath
.project

# Maven
target/
